<section>
  <h1>Categories</h1>
  <p>Welcome, <%= current_user.name %></p>
  <% if @groups.empty? %>
    <p>You have no groups yet. Create one!</p>
    <%= link_to 'Create a category', new_group_path %>
  <% else %>
    <ul>
      <% @groups.each do |group| %>
        <li>
          <%= link_to group_accounts_path(group) do %>
            <img src='<%= group.icon %>' alt='<%group.name%>' />
            <div class="icon__name">
                <h3><%= group.name %></h3>
                <p><%= group.created_at.strftime('%d %b %Y') %></p>
            </div>
            <span>$</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>

