<section>
  <h1>Transactions</h1>
  <div>
    <h3>Group: <%= @group.name %></h3>
    <p>Total Transaction: $<%= @accounts.sum(:amount) %></p>
  </div>

  <span><%= %></span>
  <table>
    <thead>
      <tr>
        <th>Transaction Name</th>
        <th>Date</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @accounts.each do |account| %>
        <tr>
          <td><%= account.name %></td>
          <td><%= account.created_at.strftime('%d %b %Y') %></td>
          <td>$<%= account.amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'Add a new transaction', new_group_account_path %> |
  <%= link_to 'Back', groups_path %> |
  <%= link_to 'Home', destroy_user_session_path %>
</section>
